.navigation {
  margin-top: 7px;
  -webkit-box-shadow: -1px 6px 5px -6px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -1px 6px 5px -6px rgba(0, 0, 0, 0.52);
  box-shadow: -1px 6px 5px -6px rgba(0, 0, 0, 0.52);
  padding-right: 20px;
  padding-left: 20px;
}

/* .navigation:not(:last-child) {
  margin: 50px;
} */

.link {
  display: inline-block;
  padding: 10px;
  color: rgb(15, 15, 15);
  text-decoration: none;
  font-size: 20px;
}

.activLink {
  color: rgb(206, 42, 42);
  text-decoration: underline;
}
