.poster {
  width: 300px;
  border-radius: 6px;
}

.card {
  display: flex;
  border: 1px solid #000000;
  padding: 20px;
}

.card div:not(:last-child) {
  margin-right: 20px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
